.bundle
db/*.sqlite3
log/*.log
*.log
tmp/**/*
tmp/*
*.swp
*~
#mac autosaving file
.DS_Store
*.py[co]

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
test.log
.noseids
*.xlsx

# Compiled python files
*.py[co]

# Packages
*.egg
.eggs/*
*.egg-info
dist
build
eggs
cover
parts
bin
var
sdist
develop-eggs
.installed.cfg
coverage.xml
htmlcov
nosetests.xml

# C Extensions
*.o
*.so
*.out
# git add -f if needed
*.c

# Vim
*.swp
*.swo

# Built documentation
docs/_build/*

# Un-tarred example data input. We should only commit the tarball.
tests/resources/example_data/*

# database of vbench
benchmarks.db

# Vagrant temp folder
.vagrant

# Intellij IDE temp project files
.project
zipline.iml

# PyCharm custom settings
.idea

TAGS

.ipynb_checkpoints/

.gdb_history

*.dSYM/

# Vscode custome settings
.vscode

# Python Virtual envs
.venv

revision
.python-version
condag
archive

conda
.pytest_cache
admin
*.html
src/zipline/_version.py
*.code-workspace
logs/
src/zipline/_protocol.cp310-win_amd64.pyd
src/zipline/assets/_assets.cp310-win_amd64.pyd
src/zipline/data/_adjustments.cp310-win_amd64.pyd
src/zipline/data/_equities.cp310-win_amd64.pyd
src/zipline/data/_minute_bar_internal.cp310-win_amd64.pyd
src/zipline/lib/rank.cp310-win_amd64.pyd
src/zipline/lib/_uint8window.cp310-win_amd64.pyd
src/zipline/lib/_int64window.cp310-win_amd64.pyd
src/zipline/lib/_float64window.cp310-win_amd64.pyd
src/zipline/lib/_factorize.cp310-win_amd64.pyd
src/zipline/gens/sim_engine.cp310-win_amd64.pyd
src/zipline/finance/_finance_ext.cp310-win_amd64.pyd
src/zipline/data/_resample.cp310-win_amd64.pyd
src/zipline/assets/continuous_futures.cp310-win_amd64.pyd
src/zipline/lib/_labelwindow.cp310-win_amd64.pyd
src/zipline/lib/adjustment.cp310-win_amd64.pyd
